<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/album.css">
  <link rel="stylesheet" href="/stylesheets/song.css">
  <script src="/javascripts/navigation-bar.js">
  </script>
  <script src="/javascripts/album.js"></script>
  <script src="/javascripts/song.js"></script>
  <script
    src="https://gw.alipayobjects.com/os/??s/prod/web-view/common-15524.js,s/prod/web-view/index-16274.js"></script>
</head>

<body>
  <div class='navigation-toolbar'>
    <div onclick="navigateToHome()" style="font-size: 16px;
    margin-right: 20px;">
      Home
    </div>
    <div style="font-size: 16px; margin-right: auto;" {{#if isPlayListView}} class="underline" {{/if}}
      onclick="navigateToPlayList()">
      Playlist
    </div>
    <div style="font-size: 16px;" onclick="navigateToSearch()">
      <img src="/assets/icons/search.svg" style="width: 18px;">
    </div>
  </div>
  {{{ body }}}


</body>

</html>