@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("SFProText.otf");
}


body {
    overflow: hidden; /* Hide scrollbars */
    color: white;
    background-color: transparent;
    font-family: "San Francisco";
  }


  button:focus {outline:0;}

.col-12
{
  padding-right: 0px !important;
  padding-left: 0px !important;
}

div.relative {
    position: relative;
    /* width: 400px;
    height: 200px; */
    /* border: 1px solid red; */
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  } 
  
  div.absolute {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 375px;
    height: 724px;
    /* border: 3px solid #73AD21; */
  }

  .channel-image
  {
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    float: left;
  }

  .channel-label
  {
    font-size: medium;    
    font-weight: 300;
    float: left;
    margin-top: 8px;
  }


.mid-grow {
    flex-grow: 1;    
    /* color: #0EFFD6; */
    overflow: auto;
    z-index: 1;
}


.footer {
    flex-shrink: 0;        
    text-align: center;
    z-index: 1;
}

.chat-input-div
{
  /* height: 25px; */
  text-align: left;
  font-size: small;
}

.chat-history-div
{
  height: 100px;
  max-height: 100px;
  overflow-y: scroll;  
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.chat-history-div::-webkit-scrollbar { 
  display: none; 
} 

.chat-input
{
  margin: 5px;
  width: 80%;
  border-radius: 25px;
  padding: 5px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.chat-historymessage
{
  text-align: left;
  font-weight: 300;
  padding-right: 0px !important;
  padding-left: 0px !important;
  font-size: small;
}

.chat-username
{
  font-size: small;
  padding-left: 0px;
}

.message-container
{
  float: left;
}

.chat-useravatar
{
  border-radius: 100px;
  background-color: blue;
  float: left;
  width: 25px;
  margin-top: 8px;
  margin-right: 5px;
}

.hidediv
{
  display: none !important;
}

/* Clock countdown styles */

#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 25px;
  background-color: white;
  border-radius: 8px;
  color: black;
  padding: 0px 10px 5px 10px;
  opacity: 0.9;
}

#clockdiv > div{
  padding: 5px;
  border-radius: 3px;
  /* background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(92,0,0,1) 0%, rgba(0,0,0,1) 100%); */
  display: inline-block;
  color: white;
  background: linear-gradient(230deg, #fafafa, #cacaca);
    background-size: 400% 400%;

    -webkit-animation: GradientAnimation 8s ease infinite;
    -moz-animation: GradientAnimation 8s ease infinite;
    -o-animation: GradientAnimation 8s ease infinite;
    animation: GradientAnimation 8s ease infinite;
}

#clockdiv div > span{
  padding: 7px;
  border-radius: 3px;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 0%, rgba(255,123,123,1) 100%);
  display: inline-block;
  color: white;
  font-weight: 600;
}

#clockdiv > span
{  
  font-size: large;
}

.smalltext{
  padding-top: 5px;
  font-size: 12px;
  color: #282828;
}

@-webkit-keyframes GradientAnimation {
  0%{background-position:90% 0%}
  50%{background-position:11% 100%}
  100%{background-position:90% 0%}
}
@-moz-keyframes GradientAnimation {
  0%{background-position:90% 0%}
  50%{background-position:11% 100%}
  100%{background-position:90% 0%}
}
@-o-keyframes GradientAnimation {
  0%{background-position:90% 0%}
  50%{background-position:11% 100%}
  100%{background-position:90% 0%}
}
@keyframes GradientAnimation {
  0%{background-position:90% 0%}
  50%{background-position:11% 100%}
  100%{background-position:90% 0%}
}

/* ----------------------------- */

/* Sales */

.sales-container
{  
  height: 100%;
}

.scrollMenuSquare {
  overflow: auto;
  white-space: nowrap;
  padding: 1px;
}

.scrollItemSquare {
  display: inline-block;
  text-align: center;
  padding: 3px;
  margin: 0px 5px 0px 5px;
  text-decoration: none;  
}

.scrollImageSquare {
  border-radius: 10px;
  border: 2px solid lightgray;
  width: 100px;
}

.scrollTextSquare {
  color: rgb(54, 54, 54);
  font-weight: 400;
  font-size: 9px;
  text-overflow: ellipsis; 
  overflow: hidden;
  width: 80px;
  padding-top: 6px;
}

/* ----------------------------- */


/* Products */


.products-div
{
  background-color: white;
  border-radius: 20px;
  color: black;
}

.products-title
{
  font-size: x-large;
  /* margin-left: 15px; */
  margin-top: 15px;
  color: black;
  text-align: left;
  margin-left: 10px;
  font-weight: 600;
}

.product-title
{
  font-size: large;
  font-weight: 500;
}


.product-items
{
  height: 300px;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;  
  padding: 5px;
  /* padding-left: 10px;
  padding-right: 10px; */
  background-color: transparent;
  text-align: left;  
  border-radius: 20px;
}

.product-items::-webkit-scrollbar { 
  display: none; 
} 

.product-item{
  padding: 5px;
  height: 120px;
}
.product-item > .col-4
{
  padding: 8px !important;  
}

.product-image
{  
  width: 100%;
  /* height: 120px; */
  /* border: 2px solid lightgray; */
  box-shadow: 2px 2px 5px lightgray;
  border-radius: 6px;
}

.product-info
{
  color: black;
  padding-left: 10px;
}

.product-addcart-button
{
  background-color: red;
  color: white;
  border-radius: 15px;
  position: absolute;
  bottom: 0px;
  border: hidden;
}

.chat-history-div::-webkit-scrollbar { 
  display: none; 
} 

/* ----------------------------- */

/* CART View */

.cart-div
{  
  margin-right: 15px;
  margin-top: 0px;
}

.cart-images
{
  margin-top: 13px;
  margin-right: -10px;
}

.cart-number-of-items
{
  background-color: red;
  border-radius: 20px;  
  color: white;
  font-size: small;
  width: 17px !important; 
  height: 17px;
}

.checkout-button
{
  background-color: red;
  border-radius: 20px;
  border: 0px hidden;
  color: white;
  padding: 3px 30px 3px 30px;
  margin-bottom: 10px;
}

.cart-items
{
  color: black;
  font-size: small;
}


.cart-remove
{
  border-top: 1px solid red;
  border-left: 1px solid red;
  border-bottom: 1px solid red;
  border-right: 0px hidden;
  border-radius: 20px 0px 0px 20px;
  width: 20px;
  float: left;  
  
}

.cart-add
{
  border-top: 1px solid red;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  border-left: 0px hidden;
  border-radius: 0px 20px 20px 0px;
  width: 20px;
  float: left;  
  
}

.cart-number
{
  border-top: 1px solid red;
  border-right: 0px hidden;
  border-bottom: 1px solid red;
  border-left: 0px hidden;
  border-radius: 0px;
  width: 20px;
  float: left;  
}

.cart-row
{
  border-bottom: 1px solid lightgray;  
  padding-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.cart-row-main
{
  padding-top: 5px;
}

.cart-description
{
  margin-left: 10px;
}

/* ----------------------------- */