<div class="ablum-container">
    <div class="album-cover">
        <img src="/assets/images/album-cover.jpg" class="album-img">
    </div>
    <div style='text-align: center;
    margin: 20px 0px 10px 0px;    font-size: large;
    font-weight: bold;'>We Made It</div>
    <div style='text-align: center;
    margin: 0px 0px 20px 0px;'>by Mi Casa</div>
    <div style='display: flex; margin-bottom: 20px'>
        <div style="font-size: 12px;    margin-right: auto;">
            Released: 03/07/2020
        </div>
        <div style="font-size: 12px; margin-right: auto;">
            Tracks: 13
        </div>

        <div style="font-size: 12px; ">
            Length: 01:02:24
        </div>
    </div>
    <div style="display: flex; margin-bottom: 10px">
        <img src="/assets/icons/repeat.svg" style="width: 30px; margin-left: auto; margin-right: 14px;">
        <img src="/assets/icons/skip_back.svg" style="width: 30px;  margin-right: 14px;">
        <img id="toggleBtn" src="/assets/icons/play_filled.svg" style="width: 40px;  margin-right: 14px;"
            onclick="togglePlaying()">
        <img src="/assets/icons/skip_forward.svg" style="width: 30px;  margin-right: 14px;">
        <img src="/assets/icons/shuffle.svg" style="width: 30px; margin-right: auto">
    </div>
    <audio id="audio-player" ontimeupdate="updateBar()">
        <source src="/assets/audio/song.mp3" type="audio/mpeg">
    </audio>

    <div style="display: flex;">
        <div id="currentTime" style="margin-right: auto">00:00</div>
        <div id="durationTime">02:08</div>
    </div>



    <div id="progress-status">
        <div id="myprogressBar"></div>
    </div>
    {{# each arr as |val key|}}
    <div style="height: 50px; border-bottom: 1px solid #d7d7d7; display: flex"><img src="/assets/icons/play_filled.svg"
            style="width: 30px;  margin-right: 14px;">
        <p style="margin-right: auto;">{{ val.name }}</p>
        <img src="/assets/icons/favourite.svg" style="margin-right: 10px;">
        <img src="/assets/icons/overflow_dots.svg">
    </div>
    {{/each}}

</div>