<div class="ablum-container">
    {{!-- <div class="album-cover">
        <img class="album-img" id="albumCover" onload="updateCoverImg({{output}})" src="/assets/images/placeholder.png">
    </div> --}}
    SONG VIEW
</div>